html
   head
   body
      h3 Testing static file serving:
      img(src = "/testimage.jpg", alt = "Testing Image")
      
// Express looks up the files relative to the static directory, so the name of the static directory is not part of the URL.